<<<<<<< HEAD
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:url("backgroundimage.jpg");
    background-size:cover;
    background-position:center;
}

.forgot-box{

    width:450px;

    padding:35px;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(15px);

    border-radius:20px;

    border:1px solid rgba(255,255,255,0.3);

    box-shadow:0 8px 32px rgba(0,0,0,0.3);
}

h1,h2,p{

    text-align:center;
    color:white;
}

h2{
    margin-top:10px;
}

p{
    margin-top:10px;
    margin-bottom:25px;
}

label{

    display:block;

    color:white;

    margin-bottom:8px;
}

input{

    width:100%;

    padding:12px;

    border:none;

    border-radius:8px;

    outline:none;

    background:rgba(255,255,255,0.2);

    color:white;
}

input::placeholder{
    color:#eee;
}

button{

    width:100%;

    margin-top:20px;

    padding:12px;

    border:none;

    border-radius:8px;

    background:#2563eb;

    color:white;

    font-size:16px;

    cursor:pointer;
}

button:hover{

    background:#1d4ed8;
}

.back-link{

    text-align:center;

    margin-top:20px;
}

.back-link a{

    color:#60a5fa;

    text-decoration:none;
=======
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:url("backgroundimage.jpg");
    background-size:cover;
    background-position:center;
}

.forgot-box{

    width:450px;

    padding:35px;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(15px);

    border-radius:20px;

    border:1px solid rgba(255,255,255,0.3);

    box-shadow:0 8px 32px rgba(0,0,0,0.3);
}

h1,h2,p{

    text-align:center;
    color:white;
}

h2{
    margin-top:10px;
}

p{
    margin-top:10px;
    margin-bottom:25px;
}

label{

    display:block;

    color:white;

    margin-bottom:8px;
}

input{

    width:100%;

    padding:12px;

    border:none;

    border-radius:8px;

    outline:none;

    background:rgba(255,255,255,0.2);

    color:white;
}

input::placeholder{
    color:#eee;
}

button{

    width:100%;

    margin-top:20px;

    padding:12px;

    border:none;

    border-radius:8px;

    background:#2563eb;

    color:white;

    font-size:16px;

    cursor:pointer;
}

button:hover{

    background:#1d4ed8;
}

.back-link{

    text-align:center;

    margin-top:20px;
}

.back-link a{

    color:#60a5fa;

    text-decoration:none;
>>>>>>> fd8d6aa963f7cc97d1f0627ed0ef432acc3acc90
}