*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
}

.navbar{
    background:black;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 30px;
}

.user-section{
    display:flex;
    align-items:center;
    gap:15px;
}

#logoutBtn{
    padding:10px 15px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.container{
    display:flex;
}

.sidebar{
    width:270px;
    min-height:100vh;

    background:#a00000;
    color:white;

    padding:25px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    margin:18px 0;
}

.content{
    flex:1;
    padding:40px;
}

.content h1{
    margin-bottom:25px;
}

.gallery-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:25px;
}

.gallery-card{

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 4px 15px rgba(0,0,0,0.1);

    transition:0.3s;
}

.gallery-card:hover{

    transform:translateY(-5px);
}

.gallery-card img{

    width:100%;
    height:220px;

    object-fit:cover;
}

.gallery-card h3{

    padding:15px;
}