*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
}

.navbar{
    background:black;
    color:white;

    padding:15px 30px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.user-section{
    display:flex;
    gap:15px;
    align-items:center;
}

#logoutBtn{
    padding:10px 15px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.container{
    display:flex;
}

.sidebar{
    width:270px;
    min-height:100vh;

    background:#a00000;
    color:white;

    padding:25px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    margin:18px 0;
}

.sidebar h4{
    margin-top:25px;
}

.content{
    flex:1;

    padding:40px;
}

.profile-card{

    max-width:600px;

    background:white;

    margin:auto;

    padding:40px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.profile-image{

    width:120px;
    height:120px;

    background:#a00000;

    color:white;

    margin:auto;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:50px;
}

.profile-card h1{
    margin:20px 0;
}

.info{
    text-align:left;
    margin-top:20px;
}

.info p{
    margin-bottom:15px;
}